img{
    width: 200px;
    height: 200px;
}

a{
    text-decoration: none;
    color: white;
}

.sub-div img:hover{
    width: 80%;
    height: 50%;

}

.sub-div {
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.519);
    margin: 3% 20px;
    height: 450px;
}

.sub-div img,
.sub-div h3
{
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.sub-div h3{
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    padding-top: 15px;
}
